input[type=number] {
  width: 60px;
}
html {
    font-family: sans-serif;
}
.hidden {
    display: none;
}
#canvas {
    width: 400px;
    height: 400px;
}
#wind_angle h1 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    margin-top: 16px;
    padding: 0;
}
#wind_angle > span {
    font-size: 16px;
    display: inline-box;
    position: relative;
    bottom: 11px;
}
.gpx_label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 16px;
}
#advanced_settings {
    padding: 6px;
    border: 1px solid black;
    background-color: #EEE;
    max-width: 600px;
}
#advanced_settings_toggle:hover {
    cursor: pointer;
}
/*
All this shit taken from:
https://www.cssportal.com/style-input-range/
*/
input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 0;
  width: 600px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #74A9D8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #74A9D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #74A9D8;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.row {
    width: 100%;
    clear: both;
}
#controls, #canvas_container {
    overflow: hidden;
    width: 50%;
    overflow: hidden;
    float: left;
}
div {
    box-sizing: border-box;
}
.main_section {
    padding: 5px;
}

/*
Sizing to get google maps API to work.
r
*/
#map, #map_container {
    height: 500px;
}

